
	<div class="col-md-4 whitesmoke-boarder">
		<table class="table table-hover">
		<tr>
			<th><p class="text-center">All Areas</p> </th>
		</tr>
			  <% @localfeeds.each do |f, t| %>
				 <tr><th><i class="fa fa-arrow-circle-right"></i> <%= f.humanize%></th></tr>
			  <% t.each do |y| %>
			  <tr><td><i class="fa fa-angle-double-right"></i> <%= link_to y.locality.humanize, y%></td></tr>
			  <%end%>
  		
  			<% end %>
  			
  			</table>
	</div>

