<%= render :partial => 'feedlist' %>

<%= link_to 'New group', '#new_group_modal', 'data-toggle' => 'modal' %>

<div class="modal fade" id="new_group_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new group</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'groups/form', modal: true %>
      </div>
    </div>
  </div>
</div>