<div class="col-md-4" style="background:white;">
<div class="element-header text-center"><strong>Personal details</strong></div>
<address>
24 Mark Street, </br>
Cardiff,</br>
CF11 6LL</br>
Tel: 07564059192</br>
Email: Richardlonesteen@gmail.com </br>
Project Git: https://github.com/undersky0/v1
</address>
</div>
<div class="col-md-8"style="background:white;">
<div class="element-header text-center"> <strong>Summary</strong></div>
</br>
<body>
After University I had a unique opportunity to do something adventurous.  So I and eventually another person started working on a project that we called Undersky.co.uk.  It was an exciting journey during which I have learned a lot about starting a business. From doing the research and writing a business plan to doing presentation in competitions and in front of potential investors. 
But most importantly I fell in love with ruby-on-rails and the whole development process.  </br>
Prior to this project I didn’t really have much web development experience apart from some small projects at college in ASP.net and php. And in university we were concentrating on C++, JAVA and various design platforms. Over the duration of Undersky project I have learned quite a lot about RoR, CSS (mostly used bootstrap) and JavaScript. 
It was a tough journey, learning everything from scratch on my own and working on it, but nonetheless I intend to keep developing Undersky, learning, challenging my self and hopefully working on new projects with a team of people.
</body>
</br>
</br>
<div class="element-header text-center"><strong>Education</strong></div>
</br>
<body>
<strong>2009-2012</strong> – Staffordshire University, BSc. Computer game design and programming(2.1)</br>
<strong>2007-2009</strong> – Worcester College of Technology, Software Development (DDM) 
</body>
</br>
</br>
<div class="element-header text-center"><strong>Work Experience</strong></div>
</br>
<body>	
<strong>2013-2014</strong> – Undersky.co.uk, Start-up Co-founder and developer</br>
</br>
Undersky was an idea based on belief that our neighbourhoods can be friendlier, safer and more sociable for everyone. Thus we wanted to create a private social network for neighbours that would include hire and rental market of underutilized items, and a skill-sharing platform. Most of the time there were only two of us working on it. I was responsible for the research, planning, designing and programming of the platform. 
</br>
</br>
<strong>2013-2014</strong> – St. Davids Hotel, restaurant assistant </br>
</br>
This was an easy and relaxing part-time job that kept me afloat while I was working on the start-up.
</body>
</br>
<div class="element-header text-center"><strong>Software Skils</strong></div>
</br>
<body>
<div class="text-center">
Ruby-on-Rails - CSS – JavaScript – jQuery – Bootstrap – HTML – SQL </br>
Adobe Photoshop – Adobe Fireworks – Adobe Illustrator
</div>
</body>
</div>
</div>