<div class="col-md-12" style="background:white;">
<div class="element-header text-center"><strong>Summary</strong></div>
</br>
<p class="blog-text">
Undersky was supposed to be a platform to help people to connect, share, collaborate and learn from people that may be right next door. We want to help people to tap into the limitless resources of our neighbourhoods.
We were going to do this by developing a local social community network, which incorporates hire and rental peer-to-peer market and a place where users can learn and share their skills and expertise with real life people. And at the final stages we are planning to develop a place for hyper-local marketing. The platform will provide a framework to offer goods to rent/lend/free to neighbours and a place where people will be able to offer educational classes, tutorship and skill sharing. The company was going to facilitate and secure transactions between its users. All of these services were supposed to aid people in communicating with their neighbours, meeting new people, share skills and services, and generate some extra income from underutilized items, skills and expertise.
But most importantly we started this project because we wanted to inspire new life styles and to show people that our communities are full of talented, passionate and kind people. With one simple platform we were aiming to make the resources, knowledge and skills within our neighbourhoods accessible to everyone. And make collaboration, sharing and learning look cool.
</p>
</div>