<div class="col-md-12 col-sm-12"style="background:white;">
  <div class="element-header text-center"><strong>Hello!</strong></div><br/>

  <p>
    I'm a man on a quest to change the world, pilot a helicopter, experience the thrill of base jumping, swim with the
    dolphins, finish a triathlon, write a book, score 10/10 tree pointers, make 100 friends and create a family.
    not necessarily in that order, but these are some of the things I want to accomplish. I'm yet to figure out how I'm
    going to achieve everything, but I hope I have another 100 years to try. <br>
    I created this page to document my journey and so that I wouldn't forget all the stuff that I learn and practise on
    my way. Right now most of it is about Ruby on Rails and everything that comes with it, as a almost a couple of years ago I
    fell in love with the language and the framework. I'm not a genius hacker, just a
    curious guy, a bit like a child - love to explore, observe, learn, read, practise, fall and start again, break and fix
    in order to understand things better.
    <br>
    <br>
    <div class="pull-right"> Created by <strong>Richard D'Lonesteen</strong> </div>

  </p>

</div>