<%= link_to addfriend_friendships_path(:id => @friend.id), :remote => true, :class=>"btn btn-success btn-block", :id=>"fbutton_#{@friend.id}" do %>
  <span class="fa fa-plus-circle fa-1.5x"></span>
  Friend
<% end %>