<%= link_to reject_fr_friendships_path(:id => @friend.id), :remote => true, :class=>"btn btn-warning btn-block", :id=>"fbutton_#{@friend.id}" do %>
					  <span class="fa fa-minus-circle fa-1.5x"></span>
					  Unfriend
					<% end %>