<div class="row">
  <h1 class="text-center">Galleries </h1>
  <div class="col-md-12">
	<div class="btn-group btn-group-justified">
		<%if @album.nil? then @album = Album.new end%>
  <%= render "albums/form" %>
 	 </div>
</div>
  <%=render "albums/albums"%>
</div>
