
.skill {
  /* off by default */
  	.leave { display: none; }
}

/* when the skill is favorited show the unfavorite button instead */
.skill.joined {
   	.join { display: none; }
 	.leave { display: inline-block; }
}

.invite {
  .unwatch { display: none; }
}
.skill.watched {
    .watch { display: none; }
  .unwatch { display: inline-block; }
}

