%footer{:style => "margin-top:20px;"}
  .col-md-12.col-sm-12{:style=>"background:white;"}
    .element-header
      .text-center

        =mail_to "Richardlonesteen@gmail.com", subject: "Hi Richard" do
          %i.fa.fa-envelope
          %a{:href => "https://github.com/undersky0/x3"}
            %i.fa.fa-github
          %a{:href => "https://uk.linkedin.com/pub/richard-d-lonesteen/63/799/485"}
            %i.fa.fa-linkedin-square